:root {
  --primary-text-color: rgb(175, 195, 175);
  --secondary-text-color: rgb(75, 95, 75);
}

body {
  margin: 0;
}

code {
}


a:link { text-decoration: none; }

li{
  list-style: none;

}
li a {
  color: purple;
  padding: 19px;

}

.buttons {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: space-evenly;
  background-color: var(--primary-text-color);
}

nav button .buttons {
  background-color: var(--secondary-text-color);
}

#navbar {
 position: sticky;
 top: 0;
 height: 50px;
 background-color: var(--primary-text-color);
}

nav {
  text-align: center;
  background-color: var(--secondary-text-color);

}

nav a:hover {
  text-decoration: none;
}

nav li {
  cursor: pointer;
}

/* About Section */

.hero {
  padding: 6em 0;
  background-image: url("../src/assets/imgs/hero-background.jpeg");
  background-position: no-repeat;
  background-size: cover;
  background-repeat: bottom;
  background-attachment: fixed;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100; 
}

.selfie {
  width: 300px;
  height: 300px;
}

.hero div img {
  margin: 10px;
  padding: 10px;
  width: 85%;
  border-radius: 25px 50px;
}

.hero-cta {
  padding: 5px;
  margin: 10px;
  width: 30%;
  align-content: center;
  flex: 1 0 0; 
  color: var(--primary-text-color);
  line-height: 1.3;
}

.hero h2 {
  margin: 10px 10px;
  text-align: center;
  font-size: 35px;
  font-style: italic;
  align-items: center;
}

.hero p {
  text-align: center;
  font-size: 16px;
}

/* Header  */
.headerIcon {
  font-size: 90px;
  padding: 20px;
}

.hero-intro {
	/* Layout Declarations */
	margin-bottom: 0.1em;
	/* Typography Declarations */
	font-size: 2em;
  text-align: center;

}

.hero-heading {
	/* Layout Declarations */
	margin-top: -0.2em;
	/* Typography Declarations */
	font-style: normal;
	font-weight: bold;
	font-size: 6em;
	letter-spacing: -0.02em;
	text-transform: uppercase;
}


.selfie {
  width: 400px;
  height: 400px;
}

/* Footer */
.contact {
  background: var(--primary-text-color);
  color: var(--secondary-text-color);
  padding: 10px 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contact h2 {
  font-size: 35px;
}

.contact div ul {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  color: var(--secondary-text-color);
  font-size: 20px;
}

.contact div ul li {
  margin: 0 15px;
}

.contact a {
  text-decoration: none;
}

.contact a:hover {
  font-size: 26px;
}

.proHeader {
  text-align: center;
  font-weight: bolder;
  padding-top: 40px;
  font-size: 55px;

}

#projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
}

#projects img {
  border: 3px solid #1b1c1e;
  color: #1b1c1e;
}